<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chang Trủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    
    <h1>Hello World</h1>
    <h2>Đây là chang trủ</h2>
    <h3>Không có gì ở đây cả, {{name}} ạ.</h3>
    <h4>Sao vẫn đọc thế ...</h4>
    <h5>Không bị chán à ...</h5>
    <h6>Chào</h6>
    
    <img 
        src="{{image_url}}" 
        alt="Tương cà">
    
    <a href="http://www.ict.ru.ac.za/Resources/cspw/thinkcspy3/thinkcspy3.pdf">
        Sách giáo </br> khoa
    </a>    
    <p>{{h}}</p>
</body>
</html>